@page
@model IndexModel
@{
    ViewData["Title"] = "Upload/Merge";
}

<section class="jumbotron">
    <div class="row text-center">
        <h1>Arkansas Asset Builders</h1>
    </div>
</section>

<div class="text-left">
    <h3 class="display-4">Step 1: Upload</h3>
    <p>Upload any files that need to be merged here.</p>
    <p>Currently, you can upload up to four files. Once finished, move to the next step to chose which files need to be merged </p>

    <div class="text-center">
        <form enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label class="file">
                    <input type="file" asp-for="fileUpload.FormFiles" multiple aria-label="File browser example">
                    <span class="file-custom"></span>
                </label>
                <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="Upload">
            </div>

            @{
                if (ViewData["SuccessMessage"] != null)
                {
                    <span class="badge badge-success"> @ViewData["SuccessMessage"]</span>
                }
            }
        </form>
    </div>
</div>

<div class="text-left">
    <h4 class="display-4">Step 2: Merge</h4>
    <p> Assign each file a tax year and select the files to be merged.  </p>
    <p>Unselected file won't be merged! </p>

    <div class="text-left">
        <h4>Files:</h4>
        <div class="text-left">

            <p>
                <input type="checkbox" id="S1" name="selector1" />

                @ViewData["1"]

                <select name="taxyear">
                    <option value="">Select a Tax Year</option>
                    <option value="1">2016</option>
                    <option value="2">2017</option>
                    <option value="3">2018</option>
                    <option value="4">2019</option>
                    <option value="5">2020</option>
                    <option value="6">2021</option>
                    <option value="7">2022</option>
                    <option value="8">2023</option>
                </select>
            </p>

            <p>
                <input type="checkbox" id="S2" name="selector2" />

                @ViewData["2"]

                <select name="taxyear">
                    <option value="">Select a Tax Year</option>
                    <option value="1">2016</option>
                    <option value="2">2017</option>
                    <option value="3">2018</option>
                    <option value="4">2019</option>
                    <option value="5">2020</option>
                    <option value="6">2021</option>
                    <option value="7">2022</option>
                    <option value="8">2023</option>
                </select>
            </p>

            <p>
                <input type="checkbox" id="S3" name="selector3" />

                @ViewData["3"]

                <select name="taxyear">
                    <option value="">Select a Tax Year</option>
                    <option value="1">2016</option>
                    <option value="2">2017</option>
                    <option value="3">2018</option>
                    <option value="4">2019</option>
                    <option value="5">2020</option>
                    <option value="6">2021</option>
                    <option value="7">2022</option>
                    <option value="8">2023</option>
                </select>
            </p>
            <p>
                <input type="checkbox" id="S4" name="selector4" />

                @ViewData["4"]

                <select name="taxyear">
                    <option value="">Select a Tax Year</option>
                    <option value="1">2016</option>
                    <option value="2">2017</option>
                    <option value="3">2018</option>
                    <option value="4">2019</option>
                    <option value="5">2020</option>
                    <option value="6">2021</option>
                    <option value="7">2022</option>
                    <option value="8">2023</option>
                </select>
            </p>
        </div>
        <div class="text-left">
            <input asp-page-handler="Merge" class="btn btn-primary" type="submit" value="Merge">
        </div>
    </div>
</div>

<div class="text-left">
    <h3 class="display-4">Step 3: Export Report</h3>
    <form method="post" asp-page-handler="ExportExcel">
        <button class="btn btn-sm btn-secondary order-button ">Export To Excel</button>
    </form>

    @*<table class="table table-sm table-bordered table-condensed">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Client[0].Buname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BusinessUnits[0].Bucode)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BusinessUnits)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Buname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bucode)
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

</div>
