@page
@model ArkansasAssetBuilders.Pages.TaxYears.IndexModel

@{
    ViewData["Title"] = "Tax Years";
}

<h1>Tax Years</h1>

<form method="post" asp-page-handler="ExportExcel" id="export">
    <button class="btn btn-sm btn-secondary order-button">Export To Excel</button>
</form>

<p>
    <a asp-page="Create">Create New Tax Year</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaxYear[0].TaxYearID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TaxYear) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaxYearID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
