@page
@model ArkansasAssetBuilders.Pages.Demographics.IndexModel

@{
    ViewData["Title"] = "Client Demographics";
}

<h1>Client Demographics</h1>

<form method="post" asp-page-handler="ExportExcel" id="export">
    <button class="btn btn-sm btn-secondary order-button">Export To Excel</button>
</form>

<p>
    <a asp-page="Create">Add New Client Demographics</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by State, County, or Tax Year ID:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TaxYearIDSort">
                    @Html.DisplayNameFor(model => model.Demographics[0].TaxYearID)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Demographics[0].Address)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ZipSort">
                    @Html.DisplayNameFor(model => model.Demographics[0].Zip)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CountySort">
                    @Html.DisplayNameFor(model => model.Demographics[0].County)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.StateSort">
                    @Html.DisplayNameFor(model => model.Demographics[0].State)
                </a>
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Demographics) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaxYearID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
